:root {
    --user-rows-input: ;
    --user-columns-input: ;
}




div .cell {
    box-sizing: border-box;
    border: 1px solid black;
    
    
    
}

button {
    margin: 20px;
}


#content {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(var(--user-columns-input), 1fr);
    grid-template-rows: repeat(var(--user-rows-input), 1fr)
    
    
    
     
}

.active {
    background-color: black;
    transition: 0.5s;
}



/* put default value for var things */ 