div .cell {
    box-sizing: border-box;
    border: 1px solid black;
    idth: 30px;
    eight: 30px;
    
}



#content {
    width: 500px;
    height: 500px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
    
    
    
     
}

.active {
    background-color: black;
    transition: 0.5s;
}



